<h1>Listing detalls</h1>

<table>
  <tr>
    <th>Age</th>
    <th>Ihone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @detalls.each do |detall| %>
  <tr>
    <td><%= detall.age %></td>
    <td><%= detall.ihone %></td>
    <td><%= link_to 'Show', detall %></td>
    <td><%= link_to 'Edit', edit_detall_path(detall) %></td>
    <td><%= link_to 'Destroy', detall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Detall', new_detall_path %>
