<p id="notice"><%= notice %></p>

<p>
  <b>Age:</b>
  <%= @detall.age %>
</p>

<p>
  <b>Ihone:</b>
  <%= @detall.ihone %>
</p>


<%= link_to 'Edit', edit_detall_path(@detall) %> |
<%= link_to 'Back', detalls_path %>
